.main {
    text-align: center;
}
.header_right {
    text-align: right;
    margin-top: -30px;
}
.header_left a {
    color: #000;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    opacity: 0.75;
    padding-left: 15px;
}
.header_right a {
    text-decoration: none;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    opacity: 0.75;
    padding-left: 15px;
}
.logo {
    padding-top: 109px;
}
.header_right button {
    background: #4285f4;
    color: #fff;
    padding: 12px;
    margin-left: 15px;
    border: 1px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10%;
    font-weight: bold; 
}
.search {
    margin: 0 auto:
}
.searchbox {
    width: 200px;
}
.fbar {
    background: #f2f2f2;   
    bottom: 0:
}
.footer_left a {
    text-decoration: none;
    color: #5f6368;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding-left: 27px;
}
.footer_right a {
    text-decoration: none;
    color: #5f6368;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding-left: 27px;
}